@model ENSEK_EnergySupplierClient.Models.TestAccount

@{
    ViewBag.Title = "DeleteTestAccount";
}

<h2>DeleteTestAccount</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TestAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
   
    @using (Html.BeginForm("DeleteTestAccountPOST", "Accounts", FormMethod.Post, new { accountId = Model.AccountId }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AccountId);
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetAllTestAccounts")
        </div>
    }
</div>
